:host {
  margin-top: auto;
}

.footer--container {
  background-color: grey;
  height: 7rem;
  display: flex;

  .column {
    flex: 50%;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
  }

  a {
    color: #fff !important;
    text-decoration: none;
  }
}
