<div class="footer--container">
  <div class="column">
    <a [routerLink]="'contact'">Kontakt</a>
    <a [routerLink]="'data-protection'">Datenschutz</a>
  </div>
  <div class="column">
    <a [routerLink]="'about'">Über uns</a>
    <a [routerLink]="'imprint'">Impressum</a>
  </div>
</div>
