<app-opener
  [headline]="'Die neuste Umfrage zu Aktivitäten!'"
  [text]="
    'Hilf der Wissenschaft in dem du deine Aktivitäten mit uns teilst! In dieser Forschung möchten Wissenschaftler gerne mehr über dich und deine Aktivitäten erfahren. Dazu wurde eine App für dein Smartphone entwickelt um Aktivitäten leicht zu tracken. Du kannst dort jederzeit Aktivitäten auswählen, starten, beenden oder nachtragen. Zudem bietet dir die App eine Übersicht deiner bisher geleisteten Aktivitäten. Keine Sorge, deine Daten sind zu jeder Zeit besonders geschützt! Wenn du deinen Beitrag dazu leisten möchtest, registriere dich und starte mit der Aufzeichnung deiner Aktivitäten.'
  "
  [buttonText]="'Mitmachen!'"
  [buttonAction]="{ url: true, action: 'register' }"
  [headImage]="'../../../assets/Bild_Home.jpg'"
>
</app-opener>

<app-divider></app-divider>

<app-key-points></app-key-points>

<app-divider></app-divider>

<app-admin-teaser></app-admin-teaser>

<app-divider></app-divider>

<app-news-swiper></app-news-swiper>
