<ng-container *ngIf="modal">
  <app-modal
    [title]="modalTitle"
    [text]="modalText"
    [button]="'Schließen'"
    (closeEvent)="closeModal($event)"
  ></app-modal>
</ng-container>
<div class="container">
  <div class="textSide">
    <div class="header" [innerHTML]="'Login'"></div>
    <div
      class="text"
      [innerHTML]="
        'Du bist Administrator oder gehörst zum Forschungsteam? <br> Dann kannst du dich hier anmelden!'
      "
    ></div>
    <form [formGroup]="loginGroup" (ngSubmit)="login()">
      <div class="inputContainer">
        <input
          type="text"
          [placeholder]="'E-Mail*'"
          class="formInput"
          (click)="markAsDirty('mail')"
          formControlName="mail"
        />
        <input
          type="password"
          [placeholder]="'Passwort*'"
          class="formInput"
          (click)="markAsDirty('password')"
          formControlName="password"
        />

        <button class="sendButton" [innerHTML]="'Login'"></button>
      </div>
    </form>
  </div>
  <div class="imageSide">
    <img [src]="'../../../assets/Bild_Wissenschaftler.jpg'" />
  </div>
</div>
