.container {
  display: flex;

  .textSide {
    position: relative;
    width: 50%;

    .header {
      position: relative;
      font-size: 48px;
      font-weight: bold;
      color: #050038;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-top: 3rem;
    }

    .text {
      position: relative;
      color: #050038;
      font-size: 20px;
      padding-left: 2rem;
      padding-bottom: 2rem;
      padding-right: 20rem;
    }
  }

  .imageSide {
    position: relative;
    width: 50%;

    img {
      width: 100%;
      height: 48rem;
      object-fit: fill;
    }
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    height: 18rem;
    justify-content: space-evenly;
    align-items: center;

    .formInput {
      width: 80%;
      height: 3rem;
      text-align: center;
      background: #e6e6e6;
      color: #050038;
      font-size: 20px;
      border-radius: 20px;
      border: none;
    }

    .infoDot {
      width: 3rem;
      height: 3rem;
    }

    .sendButton {
      width: 10rem;
      background-color: #050038;
      height: 3rem;
      color: white;
      cursor: pointer;
    }
  }
}

::placeholder {
  color: #fff;
}
