.container {
  background-color: grey;
  height: 7rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 0.5rem 0 0.5rem 3rem;
    border-radius: 50%;
    background-color: white;
    height: 80px;
    width: 80px;
  }

  .buttonContainer {
    margin-right: 3rem;

    .headerButton {
      width: 150px;
      font-size: 20px;
      border: 0px;
      height: 40px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .active {
    text-decoration: underline;
    background-color: rgba(201, 195, 195, 0.575);
  }
}
