<div class="container">
  <a [routerLink]="'/'"><img class="logo" src="../../../assets/logo/logo.png"/></a>

  <div class="buttonContainer">
    <a [routerLink]="'/'"
    >
      <button class="headerButton" [ngClass]="route === '/' ? 'active' : ''">
        Home
      </button>
    </a
    >
    <a [routerLink]="'register'"
    >
      <button
        class="headerButton"
        [ngClass]="route === '/register' ? 'active' : ''"
      >
        Mitmachen!
      </button>
    </a
    >
    <a *ngIf="!logout" [routerLink]="'login'"
    >
      <button
        class="headerButton"
        [ngClass]="route === '/login' ? 'active' : ''"
      >
        Login
      </button>
    </a
    >
    <a *ngIf="logout" (click)="logging()"
    >
      <button
        class="headerButton" style="font-weight: bold"
      >
        Logout
      </button>
    </a
    >
  </div>
</div>
