.container {
  width: 100%;
  height: 50vh;
  
  position: relative;
  margin-bottom: 80px;

  .header {
  
    font-size: 48px;
    font-weight: bold;
    color: #050038;
    padding-bottom: rem;
    padding-left: 2rem;
    padding-top: 3rem;
  }
  .keyside1{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    
  

  .icon {
    margin-top: 50px;
    flex: 50%;
    display: flex;
    justify-content: center;
    

    mat-icon {
      padding-top: 4px;
      font-size: 125px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }

  .headline {
    margin-top: 50px;
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #050038;
    font-size: 20px;
  }

  .text {
    flex: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: #050038;
    font-size: 20px;

    p {
      padding: 0 2.5rem;
    }
  }
}

.keyside2{
  position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;

.icon {
  margin-top: 50px;
  flex: 50%;
  display: flex;
  justify-content: center;
  

  mat-icon {
    padding-top: 4px;
    font-size: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.headline {
  margin-top: 50px;
  flex: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #050038;
  font-size: 20px;
}

.text {
  flex: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: #050038;
  font-size: 20px;

  p {
    padding: 0 2.5rem;
  }
}
}
}