<div class="container">
  <div class="header">Darum gehts:</div>
    <div class="keyside1">
      <div class="icon">
        <mat-icon>directions_run</mat-icon>
      </div>

      <div class="headline">
        <h1>So gehts:</h1>
      </div>

      <div class="text">
        <p>
          Registriere dich über unsere Seite. Nach dem du deine Registrierung abgeschlossen hast, bekommst du zu Verifikation einen Aktivierungslink per E-Mail zugeschickt. In der Zwischenzeit kannst du dir unsere App auf dein Smartphone herunterladen. Sobald du deine Aktivierung über den Link bestätigt hast, kannst du dich mit deinen Login-Daten in der App anmelden. Nun kannst du deine Aktivitäten tracken lassen oder auch nachtragen. Auf dem Dashboard der App kannst du jederzeit eine Übersicht deiner bisher geleisteten Aktivitäten einsehen.
        </p>
      </div>
    </div>

<div class="keyside2">
  

  <div class="icon">
    <mat-icon>business_center</mat-icon>
  </div>

  <div class="headline">
    <h1>Das passiert im Hintergrund:</h1>
  </div>

  <div class="text">
    <p>
      Deine Aktivitätsdaten werden bei uns gesichert. Nur registrierte und zertifizierte Wissenschaftler können auf diese zugreifen und auswerten. Sie nutzen deine Daten um wissenschaftliche Erkenntnisse zu erforschen. Diese Daten werden zu keiner Zeit an Dritte weitergegeben uns sind geschützt!
    </p>

  </div>
</div>

</div>