.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header{
        position: relative;
        font-size: 48px;
        font-weight: bold;
        color: #050038;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-top: 3rem;
    
    }
    .text {
        position: relative;
        color: #050038;
        font-size: 20px;
        padding-left: 2rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .button {
        width: 15rem;
        background-color: #050038;
        height: 4rem;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        position: relative;
        text-decoration: none;
        cursor: pointer;
    }
}