<app-second-level-header></app-second-level-header>

<ng-container *ngIf="modal">
    <app-modal
      [title]="modalTitle"
      [text]="modalText"
      [button]="'Schließen'"
      (closeEvent)="closeModal($event)"
    ></app-modal>
  </ng-container>
  
<div class="container">
<div class="header" [innerHTML]="'Download der Aktivitätsdaten'"></div>
<div class="text" [innerHTML]="'Auf dieser Seite haben Sie die Möglichkeit die Aktivtätsdaten der Nutzer herunterzuladen. <br> Mit dem Klick auf den Button wird der aktuellste Datenstand heruntergeladen!'"></div>

<button class="button" [innerHTML]="'Download'" type="button" (click)="fileDownload()">Export</button>

</div>