<app-second-level-header></app-second-level-header>

<ng-container *ngIf="modal">
  <app-modal style="'z-index: 999;'"
             [title]="modalTitle"
             [text]="modalText"
             [button]="'Schließen'"
             (closeEvent)="closeModal($event)"
  ></app-modal>
</ng-container>

<app-news-swiper [edit]="true" [reload]="reload" (editEvent)="openEditNews($event)" (deleteEvent)="deleteNews($event)"></app-news-swiper>

<div class="modal" *ngIf="openEdit">
  <div class="content">
    <form [formGroup]="newsEditGroup">
      <input class="text" [value]="currentNews.newsHeader" formControlName="newsHeader">

      <textarea type="text" [value]="currentNews.newsContent" formControlName="newsContent"></textarea>
    </form>

    <div class="newsButtons">
      <button class="edit-button" (click)="openEdit = false" [innerHTML]="'Abbrechen'"></button>
      <button class="edit-button" (click)="editNews()" [innerHTML]="'Aktualisieren'"></button>
    </div>
  </div>
</div>
