.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  width: 80rem;
  height: 40rem;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;

    input {
      margin-top: 3rem;
      height: 5vh;
      text-align:justify;
      background: #e6e6e6;
      color: #050038;
      font-size: 18px;
      border-radius: 20px;
      border: none;
      font-family: "IBM Plex Sans", serif;
      text-align: center;
    }

    textarea {
      margin-top: 3rem;
      height: 30vh;
      text-align: center;
      background: #e6e6e6;
      color: #050038;
      font-size: 18px;
      border-radius: 20px;
      border: none;
      font-family: "IBM Plex Sans", serif;
    }
  }

  .newsButtons {

    display: flex;
    width: 100%;
    justify-content: space-evenly;

    button {
      width: 10rem;
      background-color: #050038;
      height: 3rem;
      color: white;
      cursor: pointer;
    }
  }

}
