@import "../../../../node_modules/swiper/swiper-bundle.css";

.swiper--container {
  position: relative;
  margin-bottom: 10px;

  .swiperHeader {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: #050038;
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
  }

  .my-swiper {
    height: 40rem;
    padding-bottom: 3rem;
    margin-top: 3rem;

    a {
      text-decoration: none;
    }
  }

  .swiper-slide-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: white;
    height: 40rem;
    border-radius: 5rem;
    border-color: #050038;
    border-style: solid;
    color: #050038;
    margin-left: 5rem;
    margin-right: 5rem;

    .newsImage--container {
      height: 13rem;
      width: 13rem;
      padding-top: 3rem;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    .learnMore {
      width: 5rem;
      height: 5rem;
      background: #e6e6e6;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        animation: rotation 0.5s;
      }
    }

    .headline {
      padding: 3rem;
      font-size: 30px;
      font-weight: bold;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.pseudo-button--container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;

  .pseudo-button {
    width: 5rem;
    height: 5rem;
    background: #e6e6e6;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #050038;
    font-weight: bold;
  }
}

