<div class="swiper--container">
  <div class="swiperHeader" *ngIf="!edit">Neuste Nachrichten</div>
  <div class="swiperHeader" *ngIf="edit">Nachrichten bearbeiten</div>


  <swiper
    class="my-swiper"
    *ngIf="(news$ | async)?.body?.length"
    [slidesPerView]="3"
    [navigation]="true"
    [pagination]="{ type: 'fraction' }"
    [keyboard]="{ enabled: true }"
    [virtual]="true"
  >
    <ng-template swiperSlide *ngFor="let slide of (news$ | async)?.body">
      <div class="swiper-slide-container">
        <div class="newsImage--container">
          <ng-container *ngIf="slide.newsPicture !== '' && slide.newsPicture.length > 23; else mockImage">
            <img [src]="slide.newsPicture | safe:'url'"/>
          </ng-container>

          <ng-template #mockImage>
            <img src="../../../assets/mock-news.png"/>
          </ng-template>
        </div>

        <ng-container
          *ngIf="slide.newsHeader.toString().length <= 10; else longHeader"
        >
          <div class="headline" [innerHTML]="slide.newsHeader"></div>
        </ng-container>

        <ng-template #longHeader>
          <div
            class="headline"
            [innerHTML]="shortenHeader(slide.newsHeader)"
          ></div>
        </ng-template>

        <a [routerLink]="['news', slide.newsId]" *ngIf="!edit">
          <img class="learnMore" src="../../../assets/plus.png"/>
        </a>

        <ng-container *ngIf="edit">
          <div class="pseudo-button--container">
            <div class="pseudo-button" (click)="deleteNews(slide)">
              Delete
            </div>
            <div class="pseudo-button" (click)="editNews(slide)">
              Edit
            </div>
          </div>
        </ng-container>

      </div>
    </ng-template>
  </swiper>
</div>
