.container {
  display: flex;
  height: 20rem;

  .textSide {
    position: relative;
    width: 60%;

    .newsHeader {
      position: relative;
      color: #050038;
      font-size: 35px;
      padding-left: 2rem;
      padding-top: 2rem;
    }

    .date {
      position: relative;
      color: grey;
      font-size: 17px;
      padding-left: 2rem;
      padding-top: 5rem;
    }
  }

  .imageSide {
    position: relative;
    width: 38%;
    padding-top: 2%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.text {
  position: relative;
  color: #050038;
  padding: 2rem;
  font-size: 20px;
  line-height: 2rem;
}

.buttonContainer--news {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

  .button {
    width: 10rem;
    background-color: #050038;
    height: 3rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    position: relative;
    text-decoration: none;
  }
}
