<ng-container *ngIf="news">
  <div class="container">
    <div class="textSide">
      <div *ngIf="news.newsDate" class="date" [innerHTML]="news.newsDate"></div>
      <div
        *ngIf="news.newsHeader"
        class="newsHeader"
        [innerHTML]="news.newsHeader"
      ></div>
    </div>
    <div class="imageSide">
      <ng-container
        *ngIf="news.newsPicture !== '' && news.newsPicture.length > 23; else mockImage">
        <img [src]="news.newsPicture | safe:'url'"/>
      </ng-container>

      <ng-template #mockImage>
        <img src="./assets/mock-news.png"/>
      </ng-template>
    </div>
  </div>
  <div
    *ngIf="news.newsContent"
    class="text"
    [innerHTML]="news.newsContent"
  ></div>
</ng-container>

<div class="buttonContainer--news">
  <a class="button" [routerLink]="''" [innerHTML]="'Zurück'"></a>
</div>
