<app-second-level-header></app-second-level-header>
<app-opener
  [headline]="'Admin Area'"
  [text]="
    'Hallo Admin! <br>'+
    'Hier kannst du alle aufgenommenen Daten der Nutzer ansehen und auswerten. Außerdem kannst du hier Nutzerdaten einsehen und verwalten! <br>' +
    'Darüber hinaus kannst du als Administrator neue Administratoren, sowie Supervisor anlegen, verwalten und löschen'"
  [buttonText]="''"
  [buttonAction]="{ url: false, action: '' }"
  [headImage]="'../../../assets/Bild_Admin.jpg'"
  [fullPage]="true"
>
</app-opener>


