.header {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  color: #050038;
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.container {
  display: flex;
  padding-bottom: 3rem;

  .textSide {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    .text {
      margin-left: 10px;
      margin-right: 30px;
      position: relative;
      color: #050038;
      font-size: 30px;
      text-align: center;
    }

    .button {
      width: 10rem;
      background-color: #050038;
      height: 3rem;
      display: flex;
      align-items: center;
      color: white;
      justify-content: center;
      position: relative;
      text-decoration: none;
    }
  }

  .imageSide {
    position: relative;
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
