<div class="header" [innerHTML]="'Auswertungen für Wissenschaftler'"></div>
<div class="container">
  <div class="imageSide">
    <img src="../../../assets/mock-admin-teaser-image.png" />
  </div>
  <div class="textSide">
    <div
      class="text"
      [innerHTML]="
        'Du bist Wissenschaftler? Dann melde dich an um auf die Auswertungen zugreifen zu können. Du kannst dir dort Auswertungen in Form von Kuchen- und Balkendiagrammen ansehen oder dir mit den heruntergeladenen Daten eigene Auswertungen bauen.'
      "
    ></div>
    <a class="button" [routerLink]="'login'" [innerHTML]="'Zum Login'"></a>
  </div>
</div>
