.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 15rem;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}
.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 40px;
  font-weight: bold;
  color: #050038;
}

.text {
  font-size: 20px;
  font-weight: bold;
  color: #050038;
}

.button {
  width: 10rem;
  background-color: #050038;
  height: 3rem;
  color: white;
  cursor: pointer;
}
