<div class="modal">
  <div class="content">
    <div class="header" [innerHTML]="title"></div>
    <div class="text" [innerHTML]="text"></div>
    <button class="button" (click)="close()" [innerHTML]="button"></button>
  </div>
</div>
