<ng-container *ngIf="result === 'loading'">
  <div class="spinner--container">
    <svg class="spinner" width="400px" height="400px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</ng-container>

<ng-container *ngIf="result === 'error'">
  <div class="spinner--container">
    Es ist ein Fehler aufgetreten. <br>
    Leider konnte Ihr Profil aus unbekannten gründen nicht aktiviert werden. <br>
    Bitte versuchen Sie es später erneut. <br>
    <button class="spinner-button" [routerLink]="''" [innerHTML]="'Zurück'"></button>
  </div>
</ng-container>

<ng-container *ngIf="result === 'success'">
  <div class="spinner--container">
    Ihr Profil wurde erfolgreich aktiviert. <br>
    Sie können sich nun in Ihrer mobilen App einloggen und mit der Aufnahme von Aktivitäten beginnen. <br>
    Alternativ können Sie hier zur Startseite zurückkehren. <br>
    <button class="spinner-button" [routerLink]="''" [innerHTML]="'Zurück'"></button>
  </div>
</ng-container>
