<div class="charts">

  <div class="chart--button__container">
  <button class="chart--button" (click)="getUsableData('Kalorien')">Gesamte Kalorien</button>
  <button class="chart--button" (click)="getUsableData('Durchschnittliche Geschwindigkeit')">Durchschnittliche Geschwindigkeit</button>
  <button class="chart--button" (click)="getUsableData('Distanz in KM')">Distanz in KM</button>
  <button class="chart--button" (click)="getUsableData('Dauer')">Dauer in Minuten</button>
  <button class="chart--button" (click)="getUsableData('Anzahl der Einträge')">Anzahl der Einträge</button>
  </div>

  <ng-container *ngIf="chartType === 'bar'">
    <div class="barChart">
      <ngx-charts-bar-vertical *ngIf="usableData.length"
                               [results]="usableData"
                               [gradient]="gradient"
                               [xAxis]="showXAxis"
                               [yAxis]="showYAxis"
                               [legend]="showLegend"
                               [showXAxisLabel]="showXAxisLabel"
                               [showYAxisLabel]="showYAxisLabel"
                               [xAxisLabel]="xAxisLabel"
                               [yAxisLabel]="yAxisLabel"
      ></ngx-charts-bar-vertical>

    </div>
  </ng-container>

    <ng-container *ngIf="chartType === 'pie'">
      <div class="pieChart">
        <ngx-charts-pie-chart *ngIf="usableData.length"
                              [results]="usableData"
                              [gradient]="gradient"
                              [legend]="showLegend"
                              [doughnut]="false"
        ></ngx-charts-pie-chart>
      </div>
    </ng-container>

    <ng-container *ngIf="chartType === 'number-card'">
      <div class="number-cardChart">
        <ngx-charts-number-card *ngIf="usableData.length"
                                [results]="usableData"
                                [cardColor]="cardColor"
        ></ngx-charts-number-card>
      </div>
    </ng-container>

</div>
