.charts {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  color: #050038;
  align-items: center;
  justify-content: center;

  .barChart {
    margin-top: 3rem;
    height: 400px;
    width: 1000px;
  }

  .pieChart {
    margin-top: 3rem;
    height: 700px;
    width: 700px;
  }

  .number-cardChart {
    margin-top: 3rem;
    height: 400px;
    width: 1500px;
  }
}

.chart--button__container {
  display: flex;
  height: 5rem;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.chart--button {
  border-radius: 10px;
  height: 3rem;
  width: 15rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #050038;
  border-color: #050038;

  &:hover {
    color: #1B9A59;
  }

  &:active, &:focus, &:target {
    text-decoration: underline;
  }
}

