.second--header__container {
  width: 100%;
  background-color: #E6E6E6;
  height: 5rem;
}

.dropdown--container {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #050038;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {text-decoration: underline}

a {
  cursor: pointer;
}
