<div class="second--header__container">

  <div class="dropdown--container">

    <div class="dropdown">
      <a (click)="navigate('back')"><button class="dropbtn">Übersicht</button></a>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Auswertungen</button>
      <div class="dropdown-content">
        <a (click)="navigate('piechart')">Piechart</a>
        <a (click)="navigate('barchart')">Balkendiagramm</a>
        <a (click)="navigate('table')">Tabelle</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Downloads</button>
      <div class="dropdown-content">
        <a (click)="navigate('download')">Nutzerdaten</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Nutzerverwaltung</button>
      <div class="dropdown-content">
        <a (click)="navigate('user-edit')">Benutzer verwalten</a>
        <a *ngIf="admin" (click)="navigate('admin-edit')">Supervisor & Admins verwalten</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Dashboard</button>
      <div class="dropdown-content">
        <a (click)="navigate('news-edit')">News erstellen</a>
        <a (click)="navigate('news-management')">News bearbeiten</a>
      </div>
    </div>

  </div>

</div>
