<app-second-level-header></app-second-level-header>
<app-opener
  [headline]="'Supervisor Area'"
  [text]="
    'Hallo Supervisor! <br>'+
    'Hier kannst du alle aufgenommenen Daten der Nutzer ansehen und auswerten. Außerdem kannst du hier Nutzerdaten einsehen und verwalten! <br>'"
  [buttonText]="''"
  [buttonAction]="{ url: false, action: '' }"
  [headImage]="'../../../assets/Bild_Wissenschaftler.jpg'"
  [fullPage]="true"
>
</app-opener>

