<div class="container" [ngClass]="fullPage===true ? 'opener--fullpage' : ''">
  <div class="textSide">
    <div *ngIf="headline !== ''" class="header" [innerHTML]="headline"></div>
    <div class="textContainer">
      <div *ngIf="text !== ''" class="text" [innerHTML]="text"></div>
      <a
        *ngIf="buttonAction.url"
        class="button"
        [routerLink]="buttonAction.action"
        [innerHTML]="buttonText"
      ></a>
    </div>
  </div>
  <div *ngIf="headImage !== ''" class="imageSide">
    <img [src]="headImage" />
  </div>
</div>
