.opener--fullpage {
  height: 75vh;
  max-height: 100vh !important;

  .text {
    padding-right: 2rem;
  }

  .textSide {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    padding-top: 0 !important;
    padding-bottom: 0!important;
  }
}

.container {
  display: flex;
  max-height: 25rem;

  .textSide {
    position: relative;
    width: 50%;

    .header {
      position: relative;
      font-size: 48px;
      font-weight: bold;
      color: #050038;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-top: 3rem;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      height: 16rem;

      .text {
        position: relative;
        color: #050038;
        font-size: 20px;
        padding-left: 2rem;
      }

      .button {
        width: 10rem;
        background-color: #050038;
        height: 3rem;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        position: relative;
        text-decoration: none;
      }
    }
  }

  .imageSide {
    position: relative;
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
