<ng-container *ngIf="modal">
  <app-modal
    [title]="modalTitle"
    [text]="modalText"
    [button]="'Schließen'"
    (closeEvent)="closeModal($event)"
  ></app-modal>
</ng-container>
<div class="container">
  <div class="textSide">
    <div class="header" [innerHTML]="'Jetzt mitmachen!'"></div>
    <div
      class="text"
      [innerHTML]="
        'Du bist interessiert? <br> Dann nimm jetzt an unserer Forschung als Testperson teil!'
      "
    ></div>

    <form [formGroup]="registerGroup" (ngSubmit)="sendData()">
      <div class="inputContainer">
        <input
          type="text"
          [placeholder]="'Vorname*'"
          class="formInput"
          (click)="markAsDirty('firstname')"
          formControlName="firstname"
        />
        <input
          type="text"
          [placeholder]="'Name*'"
          class="formInput"
          (click)="markAsDirty('name')"
          formControlName="name"
        />

        <label for="gender">Geschlecht</label>
        <fieldset id="gender">
          <input
            type="radio"
            name="gender"
            id="'male'"
            (click)="gender = 'Männlich'"
          /><label for="'male'">M</label>
          <input
            type="radio"
            name="gender"
            id="'female'"
            (click)="gender = 'Weiblich'"
          /><label for="'female'">W</label>
          <input
            type="radio"
            name="gender"
            id="'diverse'"
            (click)="gender = 'Divers'"
          /><label for="'diverse'">D</label>
        </fieldset>

        <input
          type="number"
          [placeholder]="'Größe'"
          class="formInput"
          formControlName="height"
        />
        <input
          type="number"
          [placeholder]="'Gewicht'"
          class="formInput"
          formControlName="weight"
        />

        <input type="date" class="formInput" formControlName="date" />

        <label for="file">Profilbild</label>
        <input
          type="file"
          (change)="onUploadChange($event)"
          accept="image/png, image/jpeg"
          id="file"
        />

        <input
          type="text"
          [placeholder]="'E-Mail*'"
          class="formInput"
          (click)="markAsDirty('mail')"
          formControlName="mail"
        />
        <input
          type="password"
          [placeholder]="'Passwort*'"
          class="formInput"
          (click)="markAsDirty('password')"
          formControlName="password"
        />

        <button class="sendButton" [innerHTML]="'Registrieren'"></button>
      </div>
    </form>
  </div>

  <div class="imageSide">
    <img [src]="'../../../assets/Bild_Mitmachen.jpg'" />
  </div>
</div>
