<ng-container *ngIf="modal">
  <app-modal
    [title]="modalTitle"
    [text]="modalText"
    [button]="'Schließen'"
    (closeEvent)="closeModal($event)"
  ></app-modal>
</ng-container>
<div class="contact--container">
  <div
    class="contact--headline"
    [innerHTML]="
      'Sie haben eine Frage oder ein Anliegen? <br> Kontaktieren Sie uns!'
    "
  ></div>
  <form [formGroup]="contactGroup" (ngSubmit)="showPopup()">
    <div class="inputContainer">
      <input
        type="text"
        [placeholder]="'Vorname*'"
        class="formalInput"
        formControlName="firstname"
      />
      <input
        type="text"
        [placeholder]="'Name*'"
        class="formalInput"
        formControlName="name"
      />

      <input
        type="text"
        [placeholder]="'E-Mail*'"
        class="formalInput"
        formControlName="mail"
      />
      <textarea
        [placeholder]="'Ihre Nachricht*'"
        class="openInput"
        formControlName="text"
      ></textarea>

      <button class="sendButton" [innerHTML]="'Absenden'"></button>
    </div>
  </form>
</div>
