.contact--container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .contact--headline {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: #050038;
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-top: 3rem;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 40rem;
    justify-content: space-evenly;
    align-items: center;

    .formalInput {
      width: 100%;
      height: 3rem;
      text-align: center;
      background: #e6e6e6;
      color: #050038;
      font-size: 20px;
      border-radius: 20px;
      border: none;
    }

    .openInput {
      width: 100%;
      height: 10rem;
      background: #e6e6e6;
      color: #050038;
      font-size: 20px;
      font-family: "IBM Plex Sans", serif;
      border: none;
      resize: none;
    }

    .sendButton {
      width: 10rem;
      background-color: #050038;
      height: 3rem;
      color: white;
      cursor: pointer;
    }
  }
}

::placeholder {
  color: #fff;
}
