<app-second-level-header></app-second-level-header>

<ng-container *ngIf="modal">
  <app-modal
    [title]="modalTitle"
    [text]="modalText"
    [button]="'Schließen'"
    (closeEvent)="closeModal($event)"
  ></app-modal>
</ng-container>

<div class="newsHeadline" [innerHTML]="'Neue News erstellen'"></div>

<form [formGroup]="newsGroup" (ngSubmit)="sendData()">

  <div class="inputNews">
    <input
      type="text"
      [placeholder]="'Hier Titel eingeben*'"
      class="formInputTitel"
      (click)="markAsDirty('newsHeader')"
      formControlName="newsHeader"
    />

    <textarea input
              type="text"
              [placeholder]="'Hier Text eingeben...*'"
              class="formInputText"
              (click)="markAsDirty('newsContent')"
              formControlName="newsContent">
    </textarea>

    <div class="fileupload">
      <label for="file">Bild auswählen</label>
      <input
        type="file"
        (change)="onUploadChange($event)"
        accept="image/png, image/jpeg"
        id="file"
      />
    </div>

    <button class="sendNewsButton" [innerHTML]="'Erstellen'"></button>
  </div>
</form>
