.newsHeadline{
    position: relative;
      font-size: 48px;
      font-weight: bold;
      color: #050038;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
}
.inputNews{
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-evenly;
    align-items: center;

    .formInputTitel {
        width: 80%;
        height: 3rem;
        text-align: center;
        background: #e6e6e6;
        color: #050038;
        font-size: 30px;
        border-radius: 5px;
        border: none;
      }
      .formInputText {
        width: 80%;
        height: 15rem;
        text-align:justify;
        background: #e6e6e6;
        color: #050038;
        font-size: 20px;
        border-radius: 5px;
        border: none;
      }
      .fileupload{
      position: relative;
      font-size: 20px;
      font-weight: bold;
      color: #050038;
      }
      .sendNewsButton {
        width: 10rem;
        background-color: #050038;
        height: 3rem;
        color: white;
        cursor: pointer;
      }

}