<h1>Über uns</h1>

<p>
  Wir sind Gruppe 2 des Moduls Implementierung von Anwendungssystemen im Master
  Wirtschaftsinformatik an der Universität Siegen im Sommersemester 2022
</p>

<p>
  Unsere Gruppe besteht aus folgenden Teilnehmern mit den folgenden
  Zugehörigkeiten:
</p>
<br />

<h2>Backend & Core</h2>
<ul>
  <li>Johannes Schulte-Huermann</li>
  <li>Marcel Kirsch</li>
</ul>

<h2>Mobile App</h2>
<ul>
  <li>Nico Rychlik</li>
  <li>Tom Steuber</li>
</ul>

<h2>Web-Frontend</h2>
<ul>
  <li>Marvin Ritter</li>
  <li>Luca Weber</li>
</ul>
