<h1>Datenschutzerklärung</h1>

<h2>Datenschutz auf einen Blick</h2>

<h3>Allgemeine Hinweise</h3>
<p>
  Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren
  personenbezogenen Daten passiert, wenn Sie diese Website besuchen.
  Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert
  werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie
  unserer unter diesem Text aufgeführten Datenschutzerklärung.
</p>

<h3>Datenerfassung auf dieser Website</h3>
<h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
<p>
  Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber.
  Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen
  Stelle“ in dieser Datenschutzerklärung entnehmen.
</p>

<h4>Wie erfassen wir Ihre Daten?</h4>
<p>
  Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
  Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular
  eingeben. Andere Daten werden automatisch oder nach Ihrer Einwilligung beim
  Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem
  technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des
  Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie
  diese Website betreten.
</p>

<h4>Wofür nutzen wir Ihre Daten?</h4>
<p>
  Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
  Website zu gewährleisten. Andere Daten können zur Analyse Ihres
  Nutzerverhaltens verwendet werden.
</p>

<h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
<p>
  Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger
  und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben
  außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen.
  Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben, können Sie
  diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem haben Sie
  das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
  personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein
  Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Hierzu sowie zu
  weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.
</p>

<h4>Analyse-Tools und Tools von Drittanbietern</h4>
<p>
  Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet
  werden. Das geschieht vor allem mit sogenannten Analyseprogrammen.
  Detaillierte Informationen zu diesen Analyseprogrammen finden Sie in der
  folgenden Datenschutzerklärung.
</p>
