.edit-user--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  overflow-y: scroll;
}

.user-button {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  min-height: 3rem;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  color: #050038;
  font-size: 20px;
  border-radius: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.user-button:hover {
  text-decoration: underline
}

.edit-headline {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  color: #050038;
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;

  button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 45px;
    margin-left: 5rem;
  }
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  width: 80rem;
  height: 40rem;

  .user-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .7fr .7fr .7fr .7fr;
    gap: 0px 0px;
    justify-items: center;
    align-items: center;
  }

  .image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .name {
    grid-area: 1 / 2 / 2 / 3;
  }

  .age {
    grid-area: 2 / 1 / 3 / 2;
  }

  .height {
    grid-area: 2 / 2 / 3 / 3;
  }

  .gender {
    grid-area: 3 / 1 / 4 / 2;
  }

  .weight {
    grid-area: 3 / 2 / 4 / 3;
  }

  .email {
    grid-area: 4 / 1 / 5 / 2;
  }

  .status {
    grid-area: 4 / 2 / 5 / 3;
  }

  .image, .name, .age, .height, .gender, .weight, .email, .status {
    width: 90%;
    border-bottom: 1px solid;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  label {
    margin-right: 2rem;
    font-weight: bold;
    color: #050038;
    font-size: 20px;
  }

  input, select {
    height: 3rem;
    text-align: center;
    background: #e6e6e6;
    color: #050038;
    font-size: 20px;
    border-radius: 20px;
    border: none;
  }

  .edit-modal--buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3rem;
  }

  button {
    width: 10rem;
    background-color: #050038;
    height: 3rem;
    color: white;
    cursor: pointer;
  }
}

.addModal {
  height: 7rem !important;
}

fieldset {
  border: none;
}
