<ng-container *ngIf="modal">
  <app-modal style="'z-index: 999;'"
    [title]="modalTitle"
    [text]="modalText"
    [button]="'Schließen'"
    (closeEvent)="closeModal($event)"
  ></app-modal>
</ng-container>

<app-second-level-header></app-second-level-header>

<div class="edit-headline">Benutzerverwaltung
  <button (click)="userAdd = true">+</button>
</div>


<ng-container *ngIf="(user$ | async)?.body.length">
  <div class="edit-user--container" [ngClass]="userEdit ? 'modalOpen' : ''">
    <ng-container *ngFor="let user of (user$ | async)?.body">
      <button (click)="editUser(user)" class="user-button">
        <div class="id" [innerHTML]="'ID: ' + user.userId"></div>
        <div class="gender" [innerHTML]="'Geschlecht: ' + user.gender"></div>
        <div class="name" [innerHTML]="'Name: ' + user.firstName + ' ' + user.lastName"></div>
      </button>
    </ng-container>
  </div>
</ng-container>

<div class="modal" *ngIf="userEdit">
  <div class="content">
    <form [formGroup]="patchGroup">
      <div class="user-content">
        <div class="image">
          <img [src]="(acitveUser$ | async)?.body[0].profilePicture | safe:'url'"/>
        </div>
        <div class="age">
          <label for="number" [innerHTML]="'Geburtstag'"></label>
          <input type="date" id="number" [value]="activeUserAge" formControlName="age">
        </div>
        <div class="gender">
          <label for="gender" [innerHTML]="'Geschlecht'"></label>
          {{'Aktuell: ' +  (acitveUser$ | async)?.body[0].gender}}
          <fieldset id="gender">
            <input
              type="radio"
              name="gender"
              id="'male'"
              (click)="gender = 'Männlich'"
            /><label for="'male'">M</label>
            <input
              type="radio"
              name="gender"
              id="'female'"
              (click)="gender = 'Weiblich'"
            /><label for="'female'">W</label>
            <input
              type="radio"
              name="gender"
              id="'diverse'"
              (click)="gender = 'Divers'"
            /><label for="'diverse'">D</label>
          </fieldset>
        </div>
        <div class="email">
          <label for="email" [innerHTML]="'E-Mail'"></label>
          <input type="text" id="email" [value]="(acitveUser$ | async)?.body[0].email" formControlName="email">
        </div>
        <div class="name">
          <label for="firstname" [innerHTML]="'Name'"></label>
          <input type="text" id="firstname" [value]="(acitveUser$ | async)?.body[0].firstName"
                 formControlName="firstname">
          <input type="text" id="lastname" [value]="(acitveUser$ | async)?.body[0].lastName" formControlName="lastname">
        </div>
        <div class="height">
          <label for="height" [innerHTML]="'Größe'"></label>
          <input type="number" id="height" [value]="(acitveUser$ | async)?.body[0].height" formControlName="height">
        </div>
        <div class="weight">
          <label for="weight" [innerHTML]="'Gewicht'"></label>
          <input type="number" id="weight" [value]="(acitveUser$ | async)?.body[0].weight" formControlName="weight">
        </div>
        <div class="status">
          <label for="passwort" [innerHTML]="'Neues Passwort'"></label>
          <input type="text" id="passwort" [placeholder]="'*****'" formControlName="password">
          <div [style]="'margin-left: 2rem;'"
               [ngStyle]="{'color': (acitveUser$ | async)?.body[0].active ? 'green' : 'red'}"
               [innerHTML]="(acitveUser$ | async)?.body[0].active ? 'Approved' : 'Not Approved'"></div>
        </div>

      </div>
    </form>
    <div class="edit-modal--buttons">
      <button class="edit-button" (click)="userEdit = false" [innerHTML]="'Abbrechen'"></button>
      <button class="edit-button" (click)="updateUser()" [innerHTML]="'Aktualisieren'"></button>
      <button class="edit-button" (click)="deleteUser()" [innerHTML]="'Löschen'"></button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="userAdd">
  <div class="content">
    <form [formGroup]="registerGroup">
      <div class="user-content">
        <div class="image addModal">
          <label for="file">Profilbild</label>
          <input
            type="file"
            (change)="onUploadChange($event)"
            accept="image/png, image/jpeg"
            id="file"
          />
        </div>
        <div class="age addModal">
          <label for="newAge" [innerHTML]="'Alter'"></label>
          <input type="date" class="formInput" formControlName="age" id="newAge"/>
        </div>
        <div class="gender addModal">
          <label for="newGender">Geschlecht</label>
          <fieldset id="newGender">
            <input
              type="radio"
              name="gender"
              id="'newMale'"
              (click)="newGender = 'Männlich'"
            /><label for="'newMale'">M</label>
            <input
              type="radio"
              name="gender"
              id="'newFemale'"
              (click)="newGender = 'Weiblich'"
            /><label for="'newFemale'">W</label>
            <input
              type="radio"
              name="gender"
              id="'newDiverse'"
              (click)="newGender = 'Divers'"
            /><label for="'newDiverse'">D</label>
          </fieldset>
        </div>
        <div class="email addModal">
          <label for="newEmail" [innerHTML]="'E-Mail'"></label>
          <input type="text" id="newEmail" formControlName="email">
        </div>
        <div class="name addModal">
          <label for="newFirstname" [innerHTML]="'Vor- & Nachname'"></label>
          <input type="text" id="newFirstname"
                 formControlName="firstname">
          <input type="text" id="newLastname" formControlName="lastname">
        </div>
        <div class="height addModal">
          <label for="newHeight" [innerHTML]="'Größe'"></label>
          <input type="number" id="newHeight" formControlName="height">
        </div>
        <div class="weight addModal">
          <label for="newWeight" [innerHTML]="'Gewicht'"></label>
          <input type="number" id="newWeight" formControlName="weight">
        </div>
        <div class="status addModal">
          <label for="newPasswort" [innerHTML]="'Neues Passwort'"></label>
          <input type="password" id="newPasswort" [placeholder]="'*****'" formControlName="password">
          <div [style]="'margin-left: 2rem; color: red'"
               [innerHTML]="'Not Approved'"></div>
        </div>

      </div>
    </form>
    <div class="edit-modal--buttons">
      <button class="edit-button" (click)="userAdd = false" [innerHTML]="'Abbrechen'"></button>
      <button class="edit-button" (click)="addUser()" [innerHTML]="'Nutzer erstellen'"></button>
    </div>
  </div>
</div>


